/* CSS Document */

body
{

}

#container
{
margin:auto;
padding:0px;
position:relative;
width:1044px;

}

h1
{
padding:0px;
margin:0px;
position:relative;
top:10px;
left:4px;
}



h2
{
padding:0px;
margin:0px;
margin-top:9px;
padding-left:40px;
}


h3
{

background-image:url(pics/Minutes.png);
background-repeat:no-repeat;
color:transparent;
}



h11
{
background-image:url(pics/News.png);
background-repeat:no-repeat;
color:transparent;
left:10px;
}

#Senatenews
{
float:left;
padding:10px;
overflow:scroll;
width:500px;
height:745px;
border-right:2px solid #000066;
}

h6
{
background-image:url(pics/border0.png);
background-repeat:no-repeat;

}





#header
{
background-image:url(pics/header.png);
background-repeat:no-repeat;

width:1044px;
height:145px;
}

#minutes
{
float:left;
padding:10px;
overflow:scroll;
width:500px;
height:745px;
border-right:2px solid #000066;
}

#content
{
   
	width:100%;
	height:768px;
	border:2px solid #000066;
	
}
#news
{
float:left;
padding:10px;
overflow:scroll;
width:500px;
height:745px;
border-right:2px solid #000066;
}

#SeniorSenators
{
text-align:center;
position:relative;
top:50px;
left:-315px;
color:#000066;
}

#JuniorSenators
{
top:50px;
position:relative;
left:-315px;
color:#000066;
text-align:center;
}

#SophomoreSenators
{
text-align:center;
position:relative;
top:-110px;
left:-315px;
color:#000066;
}

#FreshmanSenators
{

top:-170px;
left:160px;
color:#000066;
text-align:center;
}

#Faculty
{
left:190px;

}

#constitution
{
color:#000066;
top:15px;
}

#Bills
{
color:#000066;
}

